[submodule "thirdparty/vllm"]
	path = thirdparty/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "thirdparty/sglang"]
	path = thirdparty/sglang
	url = https://github.com/sgl-project/sglang.git
